* {
  font-family:CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,Helvetica,Arial,sans-serif
}

body {
  background-color: #121212;
  color:#fcfcfc;
}

img.album-cover {
  vertical-align: middle;
  padding-right: 5px;
}

#spotify-logo {
  height:1.5rem; 
  vertical-align:middle;
}

audio {
  min-width:100%;
  position:fixed;
  bottom:0;
  left:0;
  background-color:transparent;
}

#songs {
  padding-bottom:3rem;
}

p {
 font-size: 1rem;
}

#buttons {
  position: relative;
}

button, select, option, input {
  background-color:#535353;
  border: none;
  border-radius: 3px;
  color:#fcfcfc;
  font-size:1.5rem;
  height:5vh;
}

button:hover,select:hover {
  background-color:#00a43c;
}

button:active {
  background-color:#1ed760;
}

.header {
  display:block;
  margin:5px;
}

#playlist-input {
  font-size:0.8rem;
  min-width:32rem;
}

button.play-button {
  font-size:0.8333rem;
  height:1.333rem;
}

.progress-outline {
  width: 100%;
  background-color: #212121;
  height:30px
}

.progress-bar {
  width: 0%;
  height: 30px;
  background-color: #1ed760;
}